<div class="main top-main">
  <div class='login'>
    <%= link_to"ログイン","/users/sign-in" %>
    <%= link_to"新規登録","/users/sign-up" %>
  </div>
  <div class="top-message">
    <h2>そうだ、旅行に行こう</h2>
    <p>行きたい旅行先のホテルを探そう</p>
  </div>
</div>
