<div class="main top-main">
  <div class='login'>


  </div>
  <div class="top-message">
    <h2>そうだ、旅行に行こう</h2>
    <p>行きたい旅行先のホテルを探そう</p>
  </div>
  <div class = "serch">
    <form action="/index" accept-charset="UTF-8" method="get">
        <input class="form-control FirstViewSearch__input">
        <input type="submit" value="検索" class="btn FirstViewSearch__button">
    </form>
  </div>
