<h1>施設の新規登録</h1>
<%= form_tag ("/rooms") do %>
  <table>
    <tr>
      <th>
        <a>施設名</a>
      </th>
      <td>
        <textarea name="name"></textarea>
      </td>
    </tr>

    <tr>
      <th>
        <a>施設詳細</a>
      </th>
      <td>
        <textarea name="detail"></textarea>
      </td>
    </tr>

    <tr>
      <th>
        <a>料金</a>
      </th>
      <td>
        <textarea name="price"></textarea>
      </td>
    </tr>
    <tr>
      <th>
        <a>住所</a>
      </th>
      <td>
        <textarea name="address"></textarea>
      </td>
    </tr>
    <tr>
      <th>
        <a>画像</a>
      </th>
      <td>
        <textarea name="introduction"></textarea>
      </td>
    </tr>
  </table>
  <input type="submit" value="登録">
<% end %>
